*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background: black;
}

#particles-js{
    z-index: -1;
    position: fixed;
    width:100%;
    height:100vh;
    /* background:red; */
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
    /* width: 100%; */
    /* background: red; */
}

header div{
    color: white;
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header div button{
    background: none;
    border: none;
    color: white;
    font-size: 11pt;
    margin-right: 40px;
    width: 100%;
    outline: none;
    padding: 5px 0 5px 0;
    border-radius: 10px;
}

.main-section{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: 25pt;
    /* margin: 100px 0 0 0 ; */
    padding: 0 20px 0 20px;
}

.text_div{
    align-self: center;
    justify-self: center;
    margin: 200px 0 0 0;
}


a{
    text-decoration: none;
    color: white;
}

.main-section p{
    font-size: 15pt;
    margin: 0;
}

.main-section h1{
    margin: 0;
}

.skill-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 380px;
    padding: 0 40px 0 40px;
}

.skill-section h1{
    text-decoration : underline;
    text-decoration-color : #0080FF;
    padding : 3px 3px 3px 3px;
}

.skill-set-container{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content:center;
    margin-top: 1px;
    /* border-top: 1px solid #0080FF; */
    padding: 50px 0 0 0;
    /* background: red; */
}

.card{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
}

.card img{
    width: 80px;
    height: auto;
}

.skillset{
    display:flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.first,.second,.third{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.skill-bar{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 50px;
}

.container {
  width: 100%; 
  background-color: transparent; 
  border: thin solid white;
  margin-top: 20px;
  /* border-radius: 10px; */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 1px; /* Add top padding */
  padding-bottom: 1px; /* Add bottom padding */
  color: white; /* White text color */
  padding-right: 3px;
  font-size: 10pt;
}

.html {width: 70%; background-color: #0080FF;} 
.css {width: 70%; background-color: #0080FF;} 
.react {width: 70%; background-color: #0080FF;} 
.node {width: 60%; background-color: #0080FF;} 
.database {width: 50%; background-color: #0080FF;} 
.python {width: 70%; background-color: #0080FF;} 
.writing {width: 80%; background-color: #0080FF;} 

.hidden{
    opacity: 0;
    transform: translateY(1em);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.is-visible{
    opacity: 1;
}

.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.project-section h1{
    text-decoration : underline;
    color: white;
    text-decoration-color : #0080FF;
    padding : 3px 3px 3px 3px;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

.project-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: thin solid white;
    width: 80%;
    margin-top: 50px;
    height: 300px;
    opacity: 0;
    transform: translateX(-10em);
    transition: transform 1s .35s cubic-bezier(0,1,.3,1),
                opacity .3s .35s ease-in;
    /* border-radius: 70%; */
}

.project-slide h1{
    cursor: pointer;
}

.show-project-slide{
    transform: translateX(0em);
    opacity: 1;
}

#smartbrain{
    background: url('../images/Capture.JPG');
    background-color: rgba(0, 0, 0,0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

#chop{
    background: url('../images/chop.JPG');
    background-color: rgba(0, 0, 0,0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

#weather{
    background: url('../images/weather.JPG');
    background-color: rgba(0, 0, 0,0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

#social-media{
    background: url('../images/social-media.JPG');
    background-color: rgba(0, 0, 0,0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

#robofriend{
    background: url('../images/Robofriend.JPG');
    background-color: rgba(0, 0, 0,0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

#metacryp-presale{
    background: url('../images/meta.jpeg');
    background-color: rgba(0, 0, 0,0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

.header{
    display: none;
}

.menu{
    display: none;
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 30px;
}

.contact-section h1{
    color: white;
}

.contacts{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts form{
    display : flex;
    flex-direction : column;
    border: thin solid white;
    padding: 20px 20px 20px 20px;
    width: 80%
}

.contacts form input{
    margin-top : 30px;
    background:  none;
    border: thin solid white;
    padding: 10px 10px 10px 10px;
    width: 100%;
    color: #0080FF;
}

.contacts form button{
    margin-top: 30px;
    background: none;
    border: thin solid white;
    padding: 10px 10px 10px 10px;
    color: #0080FF;
}

#message{
    height : 200px;
    margin-top: 30px;
    border: thin solid white;
    background: none;
    color: #0080FF;
}

.social-media{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: thin solid #0080FF;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.accounts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%
}

.accounts img{
    width: 30px;
    height: auto;
}

@media only screen and (max-width:1024px){
    header{
        display: none
    }

    .header{
        width:100%;
        box-shadow: 0px 0px 5px grey;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 10px 10px 0px;
    }

    .text_div{
        font-size: 70%;
    }

    .menu-bar{  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:15%;
        height: auto;
        padding: 5px 5px 5px 5px;
        border: thin solid grey;
        border-radius: 10%;
    }

    .cross{
        padding: 4% 4% 4% 4%;
    }

    .cross #bar1{
        display:none;
    }

    .cross #bar2{
        transform: rotate(45deg);
        margin-bottom:0
    }

    .cross #bar3{
        transform: rotate(-45deg);
        margin-bottom:0
    }


    .menu-bar div{
        width:80%;
        background:grey;
        height: 2px;
        margin-bottom: 5px;
        border-radius:10%;
        transition: transform 1s .35s cubic-bezier(0,1,.3,1);
        will-change: transform;
    } 

    .menu{
        display: none;
        visibility: hidden;
        opacity: 0;
        transform: translateY(2em);
        transition: transform 3s .25s cubic-bezier(0,1,.3,1),
                    opacity   .3s .25s ease-out;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:transparent;
        color: grey;
        will-change: transform, opacity;
    }

    .menu a{
        width:100%;
    }
    .menu button{
        text-align: center;
        color: #0080FF;
        width: 100%;
        font-size: 120%;
        padding: 20px 0px 20px 0px;
        background: transparent;
        border: thin solid #0080FF;
    }


    .menu-show{
        display:flex;
        transform: translateY(0em);
        visibility: visible;
        opacity: 1;
        animation: fade 1s;
    }

    .main-section{
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        font-size: 25pt;
        /* margin: 100px 0 0 0 ; */
        padding: 0 20px 0 20px;
    }
    
    .text_div{
        align-self: center;
        justify-self: center;
        margin: 100px 0 0 0;
    }

    .skill-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 300px;
        padding: 0 40px 0 40px;
    }
    
    .skill-section h1{
        text-decoration : underline;
        text-decoration-color : #0080FF;
        padding : 3px 3px 3px 3px;
    }
    
    .skill-set-container{
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        justify-content:center;
        margin-top: 1px;
        /* border-top: 1px solid #0080FF; */
        padding: 50px 0 0 0;
        /* background: red; */
    }
    
    .card{
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 20px;
    }
    
    .card img{
        width: 80px;
        height: auto;
    }
    
    .skillset{
        display:flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    
    .first,.second,.third{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .skill-bar{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }
    
    .container {
      width: 100%; 
      background-color: transparent; 
      border: thin solid white;
      margin-top: 20px;
      /* border-radius: 10px; */
    }
    
    .skills {
      text-align: right; /* Right-align text */
      padding-top: 1px; /* Add top padding */
      padding-bottom: 1px; /* Add bottom padding */
      color: white; /* White text color */
      padding-right: 3px;
      font-size: 10pt;
    }
    
    .html {width: 70%; background-color: #0080FF;} 
    .css {width: 70%; background-color: #0080FF;} 
    .react {width: 70%; background-color: #0080FF;} 
    .node {width: 60%; background-color: #0080FF;} 
    .database {width: 50%; background-color: #0080FF;} 
    .python {width: 70%; background-color: #0080FF;} 
    .writing {width: 80%; background-color: #0080FF;} 

    .contact-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 150px;
        margin-bottom: 30px;
    }
    
    .contact-section h1{
        color: white;
    }
    
    .contacts{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contacts form{
        display : flex;
        flex-direction : column;
        border: thin solid white;
        padding: 20px 20px 20px 20px;
        width: 80%
    }
    
    .contacts form input{
        margin-top : 30px;
        background:  none;
        border: thin solid white;
        padding: 10px 10px 10px 10px;
        width: 100%;
        color: #0080FF;
    }
    
    .contacts form button{
        margin-top: 30px;
        background: none;
        border: thin solid white;
        padding: 10px 10px 10px 10px;
        color: #0080FF;
    }
    
    #message{
        height : 200px;
        margin-top: 30px;
        border: thin solid white;
        background: none;
        color: #0080FF;
    }
    
    .social-media{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
        border-top: thin solid #0080FF;
        padding: 10px 20px 10px 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px
    }
    
    .accounts{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%
    }
    
    .accounts img{
        width: 30px;
        height: auto;
    }
    
    

}


